<mat-card class="filter-container">
  <mat-card-header>
    <mat-card-title>Filtro de búsqueda:</mat-card-title>
  </mat-card-header>
  <form  [formGroup]="form" (submit)="setFilter()" class="filter-form" >
    <mat-form-field class="filter-input" appearance="fill">
      <mat-label>Buscar producto por título</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
  </form>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="setFilter()">Buscar</button>
    <button mat-raised-button  (click)="resetForm()">Eliminar Filtros</button>
  </mat-card-actions>
</mat-card>
