// Variables
$padding-desktop: 16px;
$padding-mobile: 8px;

:host {
  display: block;
  padding: $padding-desktop;
  @media (max-width: 768px) {
    padding: $padding-mobile;
  }
}

form {
  display: contents;

  .mat-form-field {
    width: 100%;
  }

  mat-form-field {
    display: block;
  }
}

.mat-dialog-content {
  padding: 0;
}

.mat-dialog-actions {
  display: flex;
  justify-content: space-between;
  padding-top: $padding-desktop;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    gap: $padding-mobile;
    padding-top: $padding-mobile;
  }

  button {
    width: auto;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}
