.navbar {
  background-color: #3f51b5;
  color: white;
  padding: 10px 20px;

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div{
      gap: 20px;
      .navbar-img {
        max-width: 50px;
        border-radius: 8px;
      }
      .navbar-brand {
        font-size: 24px;
        font-weight: bold;
        color: white;
        text-decoration: none;
      }
    }
  }

  button {
    background-color: white;
    color: #3f51b5;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #e3f2fd;
    }
  }
  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    span {
      display: flex;
      height: 100%;
      align-items: center;
      padding-right: 35px;
      p {
        margin: 0;
        height: 100%;
        align-items: center;
        padding-left: 10px;
        font-weight: bold;
      }
      @media (max-width: 445px) {
        display: none;
      }
    }
    button {
      @media (max-width: 445px) {
        width: 80px;
        font-size: small;
      }
    }
  }
}
