<mat-card class="product-create">
  <mat-card-header>
    <mat-card-title>Crear Nuevo Producto</mat-card-title>
  </mat-card-header>
  <form [formGroup]="createForm">
    <mat-form-field appearance="fill">
      <mat-label>Handle</mat-label>
      <input matInput formControlName="handle" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>SKU</mat-label>
      <input matInput formControlName="sku" type="number" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Gramos</mat-label>
      <input matInput formControlName="grams" type="number" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Inventario</mat-label>
      <input matInput formControlName="stock" type="number" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Precio</mat-label>
      <input matInput formControlName="price" type="number" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Comparación de precio</mat-label>
      <input matInput formControlName="comparePrice" type="number" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Código de barras</mat-label>
      <input matInput formControlName="barcode" type="number" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="description-input">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description" required></textarea>
    </mat-form-field>
  </form>
  <div mat-dialog-actions class="d-flex gap-2 justify-content-end">
    <button mat-raised-button color="primary" (click)="onSave()">Guardar</button>
    <button mat-raised-button (click)="onCancel()">Cancelar</button>
  </div>
</mat-card>
