<div class="content-wrapper">
  <app-filter (filterSubmit)="getFilters($event)"></app-filter>
  <mat-card class="product-container">
    <mat-card-header>
      <mat-card-title>Productos</mat-card-title>
      <button mat-raised-button color="primary" *ngIf="!showCreateProductSection" (click)="toggleCreateProductSection()" class="product-create-button">Crear Nuevo Producto</button>
    </mat-card-header>

    <div *ngIf="showCreateProductSection" [@toggleHeight]>
      <app-product-create (cancel)="handleCancelCreateProduct()" (createdProduct)="handleCreateProduct()"> </app-product-create>
    </div>

    <div class="table-responsive">
      <table mat-table [dataSource]="products" matSort multiTemplateDataRows class="mat-elevation-z8" >
        <ng-container *ngFor="let column of columnsToDisplay" [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef class="title-column"> {{column}} </th>
          <td mat-cell *matCellDef="let product"> {{product[column]}} </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let product" [attr.colspan]="columnsToDisplay.length">
            <div class="product-detail" [@detailExpand]="product == expandedElement ? 'expanded' : 'collapsed'">
              <div class="product-diagram">
                <div class="product-description" [innerHTML]="product.description">
                </div>
                <mat-card class="product-actions">
                  <mat-card-header>
                    <mat-card-subtitle>Acciones</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-actions>
                    <button  mat-icon-button color="primary" aria-label="Editar" title="Editar"
                      (click)="openEditDialog(product)">
                      <mat-icon>edit_document</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" aria-label="Eliminar" title="Eliminar"
                      (click)="openDeleteDialog(product)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let product; columns: columnsToDisplay" class="element-row"
          [class.expanded-row]="expandedElement === product" (click)="toggleRow(product)"></tr>
        <tr mat-row *matRowDef="let product; columns: ['expandedDetail']" class="expanded-detail-row" (click)="toggleRow(product)"></tr>
      </table>
    </div>
  </mat-card>
  <mat-paginator [pageSizeOptions]="[5,10, 20, 30, 50]" aria-label="Selecciona la página de productos"
    [pageSize]="rowsPerPage" [length]="totalElements" (page)="handlePaginator($event)"></mat-paginator>
</div>
