@use "../../../styles.scss" as styles;



.content-wrapper{
  display: flex;
  justify-self: center;
  flex-direction: column;
  box-sizing: border-box;

  .product-container {
    box-sizing: border-box;
    padding: 0 8px;
    overflow-x: auto;
    margin: 8px;
    mat-card-header {
      display: flex;
      justify-content: space-between;
      @media (max-width: 400px) {
        flex-direction: column;
      }
      mat-card-title {
        font-size: 24px;
        @media (max-width:850px) {
          font-size: 18px;
        }
      }
    }
    .table-responsive {
      width: 100%;
      overflow-x: auto;
      table {
        width: 100%;
      overflow-x: auto;

      }

      @media (max-width: 768px) {
        table {
          th,
          td {
            font-size: 12px;
          }
        }
      }

      @media (min-width: 769px) {
        table {
          th,
          td {
            font-size: 14px;
          }
        }
      }
    }
  }
}



tr.expanded-detail-row {
  height: 0;
  cursor: pointer;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
  cursor: pointer;
}

.product-detail {
  overflow: hidden;
  display: flex;
}



.product-diagram {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: small;
  padding: 4px;
  font-weight: lighter;

  @media (max-width: 500px) {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }
  .product-description {
    padding: 16px;
  }
  .product-actions {
    display: flex;
    mat-card-actions {
      padding: 0;
      flex-direction: column;
    }
  }
}

.title-column {
  text-transform: capitalize;
}

@media (max-width: 500px) {
  .product-container {
    mat-card-header {
      flex-direction: column;
    }
  }
  .product-actions {
    width: 100% !important;

    mat-card-actions {
      flex-direction: row !important;
      justify-content: center;
    }
  }
}
